.agentCardsGrp{
    background-color: red;
}

.agentCard-img{
    margin:10px auto;
    width: 80%;
    overflow: hidden;
    border-radius: 50%;
}
.agentCard span{
    margin-bottom: 3px;
    text-align: center;
    color:#3c475b;
    font-weight: 600;
}