.left{
    float:left;
}
.right{
    float: right;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.dataLoader{
    color: #0ea800;
    text-align: center;
    font-weight: 600px;
    cursor: pointer;
}
.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
 }