body{
    background-color:antiquewhite; 
}
#container{
    background-color: grey; /*url imga*/
    width: 320px;
    height: 568px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-left:-160px;
    overflow: hidden;

}
#plane{
    background-color: blue;/* url*/
    width: 66px;
    height: 80px;
    position: absolute;
    left:60%;
    bottom: 0;
    margin-left:-66px;
    margin-top:-80px;
}
.bullet{
    background-color: aqua;/*url*/
    width:6px;
    height: 14px;
    position: absolute;
}
.smail-enemy{
    background-color:green;
    width:34px;
    height: 24px;
    position: absolute;
    top:-24px;
}