

{type:FuelConstants.FUEL_BRAND_UNITED, name:"United"}, 
{type:FuelConstants.FUEL_BRAND_CALTEX, name:"Caltex"}, 
{type:FuelConstants.FUEL_BRAND_METROFUEL, name:"Metro Fuel"}, 
{type:FuelConstants.FUEL_BRAND_BP, name:"BP"}, 
{type:FuelConstants.FUEL_BRAND_SHELL, name:"Shell"}, 
{type:FuelConstants.FUEL_BRAND_CALTEXWOOLWORTHS, name:"Caltex Woolworths"}, 
{type:FuelConstants.FUEL_BRAND_MOBIL, name:"Mobil"}, 
{type:FuelConstants.FUEL_BRAND_INDEPENDENT, name:"Independent"}, 
{type:FuelConstants.FUEL_BRAND_PUMAENERGY, name:"Puma Energy"}, 
{type:FuelConstants.FUEL_BRAND_7ELEVEN, name:"7-Eleven"}, 
{type:FuelConstants.FUEL_BRAND_ENHANCE, name:"Enhance"}, 
{type:FuelConstants.FUEL_BRAND_WESTSIDE, name:"Westside"}, 
{type:FuelConstants.FUEL_BRAND_LOWES, name:"Lowes"}, 
{type:FuelConstants.FUEL_BRAND_LIBERTY, name:"Liberty"}, 
{type:FuelConstants.FUEL_BRAND_COLESEXPRESS, name:"Coles Express"}, 
{type:FuelConstants.FUEL_BRAND_COSTCO, name:"Costco"}, 
{type:FuelConstants.FUEL_BRAND_SPEEDWAY, name:"Speedway"}, 
{type:FuelConstants.FUEL_BRAND_BUDGET, name:"Budget"}, 
{type:FuelConstants.FUEL_BRAND_NRMA, name:"NRMA"}, 
{type:FuelConstants.FUEL_BRAND_SOUTHWEST, name:"South West"}, 
{type:FuelConstants.FUEL_BRAND_PRIMEPETROLEUM, name:"Prime Petroleum"}, 
{type:FuelConstants.FUEL_BRAND_INLANDPETROLEUM, name:"Inland Petroleum"}, 
{type:FuelConstants.FUEL_BRAND_MATILDA, name:"Matilda"}, 
{type:FuelConstants.FUEL_BRAND_TESLA, name:"Tesla"}