.cardMenu {
  margin:3px;
}
.cardMenu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cardMenu ul li:hover{
   cursor: pointer;
}
.cardMenu ul li img{
  width: 16px;   
}