{
    "presets":[
        [
            "@babel/preset-env",
            {
                "debug":true,
                "targets":{
                    "browsers":["last 2 versions"]
                }
            }
        ]
    ],
    "plugins": ["@babel/plugin-transform-runtime"]    
}