#navbarWrapper{
    position: relative;
    /* padding-left:16px;
    padding-right:16px; */
    height: 32px;
    padding:16px;
    color:#fff;
    background-color:#0ea800 ;
    /* border-bottom: 1px solid #d0d3d9; */
}
#navbar{
    position: absolute;
    /* height: 32px; */
    }
#logo{
    position:absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: url("../../../../images/InspectHomeMag52_white.png");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position:center;

}
#brand{
    float: left;
    margin-left:40px;
    line-height: 32px;
}
#menu{
    float:right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 32px;
}
.menuItem{
    padding-left:16px;
}
.menuItem img{
    display:block;
}
.menuItem input{
    font-size: 16px;
    /* border-radius: 16px; */
    border: none;
    padding: 6px 36px 6px 14px;
}
.menuItem input+span{
    margin-left:-30px;
    color:#0ea800;
}